<body>

  <div class="container">
    <div class="row justify-content-center form-container">
      <div class="col-md-6">
        <div class="text-center mt-2">
          <span class="material-icons profile">favorite</span>
          <h2>Cuenta creada</h2>
        </div>

        <p>¡Registro exitoso! Usuario creado con éxito. ¡Enhorabuena! </p>
        <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/g9582DNuQppxC" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/hero0fwar-karmawhore-rhyming-g9582DNuQppxC"></a></p>
        <p>Ya perteneces a nuestra pequeña familia de Hotel Angdev, puedes iniciar sesión con las credenciales que has proporcionado en el formulario de registro.</p>

      </div>
    </div>
  </div>
</body>







