<body>
<div class="container">
  <div class="row justify-content-center form-container">
    <div class="col-md-6">
      <div class="text-center mt-2">
        <span class="material-icons profile">account_circle</span>
        <h2>Iniciar sesión</h2>
        <p>Es necesario iniciar sesión para poder reservar tu habitación de hotel.</p>
      </div>

      <form action="" >
        <div class="form-group">
          <input type="text" class="form-control email" id="nombre" placeholder="Email">
          <p>El email es incorrecto</p>
          <input type="password" class="form-control mt-2 pass" id="password" placeholder="Contraseña">
          <p>La contraseña es incorrecta</p>
        </div>
        <button class="btn btn-dark btn-block mt-2">Iniciar sesión</button>
      </form>

      <p class="text-center mt-2 register"><a class="nav-link" routerLink="/register" routerLinkActive="/register"> En caso de no estar registrado pincha aquí</a></p>
    </div>
  </div>
</div>
</body>
