<body>
<div class="container">
  <div class="row justify-content-center form-container">
    <div class="col-md-6">
      <div class="text-center mt-2">
        <span class="material-icons profile">account_circle</span>
        <h2>Iniciar sesión</h2>
        <p>Es necesario iniciar sesión para poder reservar tu habitación de hotel.</p>
      </div>

      <form (ngSubmit)="onSubmit()" [formGroup]="login_form" >
        <div class="form-group">
          <input type="email" class="form-control email" id="email" formControlName="email"  placeholder="Email" required>
          <p></p>
          <input type="password" class="form-control mt-2 pass" id="password" formControlName="password"  placeholder="Contraseña" required>
        </div>
        <button class="btn btn-dark btn-block mt-2" [disabled]="login_form.invalid">Iniciar sesión</button>
      </form>

      <p class="text-center mt-2 register"><a class="nav-link" routerLink="/register" routerLinkActive="/register"> En caso de no estar registrado pincha aquí</a></p>
    </div>
  </div>
</div>
</body>
