html, body {
  height: 100%; /* Aseguramos que el html y el body ocupen todo el alto de la ventana */
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Junge-Regular';
  background-color: blanchedalmond; /* Fondo crema */
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Asegura que el body cubra el 100% de la ventana */
}

.container {
  flex: 1; /* Esto asegura que el contenedor ocupe todo el espacio vertical restante */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.header {
  margin-bottom: 20px;
}

.profile {
  font-size: 50px;
}



.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  background-color: #B739ED;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto 30px auto;
  transition: background-color 0.3s ease;
}

.contact-form:hover {
  background-color: #8B00F0;
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dates-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dates-contact input {
  width: calc(50% - 10px);
  margin-top: 10px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-check {
  margin-top: 20px;
}

.form-check-input {
  margin-right: 10px;
}

.btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #888;
}

.btn:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 15px;
  }

  .dates-contact input {
    width: 100%;
    margin-top: 10px;
  }

  .form-group {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 28px;
  }

  .profile {
    font-size: 50px;
  }
}
