<body>
<div class="container mb-3">
  <h2 class="text-center mt-3">Contacto</h2>
  <form action="" class="text-center mt-3">
    <div class="form-group dates-contact">
      <input type="text" class="form-control" id="tlf" placeholder="Teléfono">
      <input type="text" class="form-control a" id="email" placeholder="Email">
    </div>

    <div class="form-group dates-contact mt-2">
      <input type="text" class="form-control" id="name" placeholder="Nombre">
      <input type="text" class="form-control a" id="subject" placeholder="Asunto">
    </div>
    <div class="form-group">
      <label for="description" class="sr-only">Descripción</label>
      <textarea name="description" id="description" class="form-control" cols="30" rows="5" placeholder="Describe tu consulta"></textarea>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="validate_human">
      <label class="form-check-label" for="validate_human">
        Confirmo que no soy un robot
      </label>
    </div>
    <button type="submit" class="btn btn-dark mt-3">Enviar</button>
  </form>
  <p class="mt-3 text-center">También puede ponerse en contacto con nosotros a través de:</p>
  <div class="row justify-content-center">
    <div class="col-auto">
      <span class="material-icons">call</span>666772211
    </div>
    <div class="col-auto">
      <span class="material-icons">facebook</span>Angdev Hotel
    </div>
    <div class="col-auto">
      <span class="material-icons">email</span>angdev_hotel&#64;support.es
    </div>
  </div>
</div>
</body>
