<body>
<div class="container">
  <h1 class="text-center wobble-horizontal-bottom">Bienvenido/a al mini hotel ANGDEV</h1>

  <p>ANGDEV te invita a sumergirte en un oasis de tranquilidad y exclusividad. Nuestro mini hotel boutique, con solo cinco habitaciones cuidadosamente diseñadas, ofrece un ambiente íntimo y personalizado para mayores de 18 años.</p>

  <div class="row">
    <div class="col-6">
      <p>Olvídate del estrés y déjate envolver por:</p>
      <ul>
        <li>Un ambiente sereno: Disfruta del silencio y la tranquilidad en un entorno donde la paz es la protagonista.</li>
        <li>Atención personalizada: Nos dedicamos a ofrecerte un servicio impecable y atento a tus necesidades. </li>
        <li>Exclusividad y privacidad: Relájate en un espacio íntimo y privado, ideal para parejas o viajeros que buscan desconectar. </li>
        <li>Diseño elegante y acogedor: Cada habitación está decorada con un estilo moderno y sofisticado, para que te sientas como en casa. </li>
        <li>Ubicación privilegiada: Explora las maravillas de Puerto Rico a tu ritmo, con acceso a los mejores lugares de interés. </li>
      </ul>
    </div>

    <div class="col-6">
      <img class="hotel" src="assets/hotel.jpg" alt="Hotel Angdev">
    </div>
  </div>

  <div class="row">
    <div class="col mensaje">
      <p>Un oasis de paz y bienestar te espera en nuestro exclusivo hotel de cinco habitaciones. Déjate envolver por la calidez del jacuzzi y los mimos de nuestro spa, un espacio diseñado para tu completa relajación.</p>
    </div>
  </div>

  <div class="row">
    <div class="col jacuzzi tracking-in-expand-forward-top">
      <h3 class="subtitles"><span class="material-icons">hot_tub</span> Zona de jacuzzi</h3>
      <p>Aguas cristalinas y reconfortantes: Disfruta de un baño relajante en nuestro jacuzzi climatizado. Las burbujas de hidromasaje te brindarán una experiencia placentera y revitalizante, ideal para aliviar tensiones y olvidarte del estrés.</p>
      <p>Atmósfera íntima y acogedora: La zona de jacuzzi está ubicada en un espacio privado, con una decoración elegante y una iluminación tenue que crea un ambiente íntimo y acogedor. Disfruta de la tranquilidad y el silencio, o comparte este momento especial con tus acompañantes.</p>
      <p>Detalles que marcan la diferencia: Ponemos a tu disposición toallas mullidas, batas de baño y zapatillas para tu mayor comodidad. Además, podrás disfrutar de una selección de bebidas refrescantes mientras te relajas en el jacuzzi.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="subtitles"><span class="material-icons">self_improvement</span>Spa</h3>
      <p>Experiencias personalizadas: Ofrecemos una amplia gama de tratamientos de spa personalizados para que encuentres el equilibrio perfecto entre cuerpo y mente. Déjate asesorar por nuestro equipo de profesionales y elige entre masajes relajantes, faciales rejuvenecedores, tratamientos corporales y mucho más.</p>
      <p>Productos de alta calidad: Utilizamos productos de las mejores marcas, elaborados con ingredientes naturales y orgánicos, para garantizar una experiencia de spa única y de alta calidad.</p>
      <p>Un refugio para tu bienestar: Relájate en la sauna finlandesa, libera toxinas en el baño de vapor o disfruta de una ducha de sensaciones. En nuestro spa encontrarás todo lo que necesitas para alcanzar un estado de completa relajación y bienestar.</p>
    </div>
  </div>

  <div class="banner text-center">
    <h2><span class="material-icons">spa</span> Reserva tu experiencia:</h2>
    <p>Para garantizar la exclusividad de nuestros huéspedes, la zona de jacuzzi y spa se reservará y pagará en el hotel en el momento del check-in.</p>
  </div>

  <div class="row imgs-spa">
    <img class="col-3 img-spa" src="assets/spa.jpg">
    <img class="col-3 img-spa" src="assets/pool.webp">
    <img class="col-3 img-spa" src="assets/massage.jpg">
    <img class="col-3 img-spa" src="assets/spa2.jpg">
  </div>
</div>
</body>
