<body>


<div class="container">
  <div class="form-wrapper">
  <div class="text-center mt-2">
    <span class="material-icons profile">person_add</span>
    <h2>Registro</h2>
    <p>Es necesario registrarse para poder reservar las habitaciones.</p>
  </div>

  <form action="">
      <div class="form-group">
      <input type="text" class="form-control" id="name" aria-describedby="Nombre" placeholder="Nombre">
      </div>
      <div class="form-group">
      <input type="text" class="form-control" id="surname" aria-describedby="surname" placeholder="Apellidos">
      </div>
      <div class="form-group">
      <input type="text" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
      <input type="number" class="form-control" id="telephone" placeholder="Teléfono">
    </div>
      <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Contraseña">
      </div>
      <div class="form-group">
      <input type="password" class="form-control" id="confirmpassword" placeholder="Confirmar contraseña">
    </div>
    <button type="submit" class="btn btn-dark">Registrarme</button>
  </form>

</div>
</div>
</body>
