 .profile {
  font-size: 50px; /* Aumenta el tamaño original de 18px */
}

form {
  background-color: white;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-wrapper{
  margin-bottom: 50px;
  padding-bottom: 50px;
}

body {
  font-family:'Junge-Regular';
  background-color: blanchedalmond;
}

.container {
  max-width: 600px; /* Ajusta el ancho máximo como desees */
  margin: 0 auto; /* Centra el contenedor */
}

.form-group {
  margin-bottom: 30px;
}

.btn_register {
  margin-bottom: 30px;
}



